body {
    background-color: #e6ffe6;
  }
  
  .todoContainer, .loginContainer {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #a3d2ca;
    padding: 30px;
    border-radius: 10px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
    button {
    background-color: #4c8577;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2c5345;
  }


  /* ----- Logged In*/

   .emojiDiv {
    background-color: none;
    font-size: 30pt;
  }

  .colorPicker {
    background-color: white;
    width: 50px;
  }

  .bodyContainer {
    position: relative;
    display: flex;
    flex-direction: row;

  }

  .colorContaioner, .emojiContaioner {
    background-color: white;
    position: absolute;
    top: 50px;
    left: 250px;
    height: 300px;
    width: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    


  }

  .colorContaioner {
    height: 100px;
    width: 100px;
    left: 330px;
  }

  .emojiContaioner button {
    background-color: white;
    font-size: 20pt;
  }

  .colorBtn {
    border: 1px solid black;
  }

  .create-todo-ul {
    list-style: none;
  }